header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
}

header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
    color: white;
    border-bottom: 1px solid #CCCCCC;
}