* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3rem;
    min-height: 100vh;
    color: #484848;
    font-size: 14px;
    position: relative;
    font-family: 'Circular, "Helvetica Neue", Helvetica, Arial, sans-serif'; 
}