.container {
    max-width: 1000px;
    margin: 30px auto;
}

.filters {
    width: 100%;
    height: 70px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.btn {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    height: 48px;
    border: none;
    width: 20%;
    border-radius: 4px;
    margin: auto 30px auto auto;
}

.btn:hover {
    opacity: 90%;
}